<div class="my-10">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Changer mon mot de passe
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="resetForm" class="flex flex-col gap-4">
        <mat-form-field class="w-full">
          <mat-label>Entrez votre nouveau mot de passe</mat-label>
          <input type="password" matInput formControlName="fieldPassword">
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Confirmez votre nouveau mot de passe</mat-label>
          <input type="password" matInput formControlName="fieldConfirmPassword">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="flex justify-end">
      <button mat-raised-button color="primary" [disabled]="resetForm.invalid" (click)="onResetPassword()">
        Changer mon mot de passe
      </button>
    </mat-card-actions>
  </mat-card>
</div>
