<mat-card>
  <mat-card-title class="flex items-center justify-center">
    <ng-lottie [options]="lottieBikeOptions" height="80px"></ng-lottie>
    <span>
      Terminer un trajet
      </span>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="rideForm">
      <div class="flex flex-col gap-4">
        <div class="flex flex-col">
          <app-station-search [label]="'Station de d\'arrivée'"
                              (stationSelectEvent)="onSelectStation($event)"></app-station-search>
        </div>
        <mat-form-field>
          <mat-label>Distance parcourue (mètres)</mat-label>
          <input matInput type="number" min="1" step="1" formControlName="LENGTH">
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="flex justify-end">
    <button
      [disabled]="rideForm.invalid"
      (click)="onSubmitRide()"
      mat-raised-button
      color="primary">Terminer le trajet
    </button>
  </mat-card-actions>
</mat-card>
