<div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
  <mat-card *ngIf="!editMode">
    <mat-card-header>
      <ng-lottie mat-card-avatar [options]="lottieStationOptions"></ng-lottie>
      <mat-card-title>Station {{station?.id}}
        - {{station?.streetNumber}} {{station?.streetName}} {{station?.city.toUpperCase()}} ({{station?.zipcode}})
      </mat-card-title>
      <mat-card-subtitle>État : {{getLastMonitoring()?.status.toUpperCase()}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="space-y-4">
      <section class="battery-section">
        <mat-progress-bar
          [ngClass]="getProgressColorClass()"
          [mode]="'buffer'"
          [value]="getLastMonitoring()?.batteryPercent"
        ></mat-progress-bar>
        <div style="position: absolute; padding: 10px; color: white;">
          {{getLastMonitoring()?.batteryPercent.toFixed(2)}}%
        </div>
      </section>
      <div class="text-lg">Puissance de Charge : {{getLastMonitoring()?.chargingPower}} VA</div>
      <div class="text-lg">
        Vélos disponibles : {{getLastMonitoring()?.usedBikeSlot}}/{{station?.bikeCapacity}}
      </div>
      <div *ngIf="isAdmin" class="space-y-4">
        <button mat-raised-button
                color="warn"
                (click)="getToken.emit(station.id)"
        >Générer le token de la sation
        </button>
        <p>
          <strong class="break-all">{{token}}</strong>
        </p>
      </div>

    </mat-card-content>
    <mat-card-actions *ngIf="isStaff" class="flex justify-end space-x-2">
      <button
        mat-raised-button
        color="primary"
        (click)="onEdit()"
      >Modifier
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="onDelete()"
      >Supprimer
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="editMode">
    <mat-card-header>
      <ng-lottie mat-card-avatar [options]="lottieStationOptions"></ng-lottie>
      <mat-card-title>Station {{station?.id}}
        - {{station?.streetNumber}} {{station?.streetName}} {{station?.city.toUpperCase()}} ({{station?.zipcode}})
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="space-y-4">
      <form [formGroup]="stationForm" class="mt-2">
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Capacité de la batterie</mat-label>
          <input matInput
                 min="0"
                 formControlName="BATTERY_CAPACITY"
                 type="number">
        </mat-form-field>
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Capacité de vélos</mat-label>
          <input matInput
                 min="0"
                 formControlName="BIKE_CAPACITY"
                 type="number">
        </mat-form-field>
        <app-address-search
          initialAdressValue="{{station?.streetNumber}} {{station?.streetName}} {{station?.city.toUpperCase()}} ({{station?.zipcode}})"
          (searchEvent)="onAddressInputSearch()"
          (addressSelectEvent)="onSelectAdress($event)"
        ></app-address-search>
      </form>
    </mat-card-content>
    <mat-card-actions class="flex justify-end space-x-4">
      <button
        mat-raised-button
        color="warn"
        (click)="editMode = false;"
      >Annuler
      </button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="stationForm.invalid"
        (click)="onSubmit()"
      >Modifier
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="col-span-2" *ngIf="!editMode">
    <mat-card-header>
      <mat-icon mat-card-avatar>battery_std</mat-icon>
      <mat-card-title>
        Statut de la borne
      </mat-card-title>
      <mat-card-subtitle>
        <mat-form-field>
          <input type="number" matInput value="3" min="0" (change)="retrieveMonitoring($event.target.value)">
          <mat-hint>Nombre de jours</mat-hint>
        </mat-form-field>
      </mat-card-subtitle>
    </mat-card-header>
    <app-station-battery-chart [stationMonitorings]="stationMonitorings"></app-station-battery-chart>
  </mat-card>
</div>
