<div class="my-4">
  <button
    [routerLink]="['/users']"
    mat-button
    class="bg-red-600 text-black min-w-min px-2"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="form" action="" class="mb-3">
  <mat-card>
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="fieldEmail"
        type="email"
      />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Rôle</mat-label>
      <mat-select formControlName="fieldRole">
        <mat-option value="ADMIN">Administrateur</mat-option>
        <mat-option value="STAFF">Membre du staff</mat-option>
        <mat-option value="CLIENT">Client</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Prénom</mat-label>
      <input
        matInput
        formControlName="fieldFirstName"
        type="text"
      />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Nom de famille</mat-label>
      <input
        matInput
        formControlName="fieldLastName"
        type="text"
      />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Mot de passe</mat-label>
      <input
        matInput
        formControlName="fieldPassword"
        type="password"
      />
      <mat-error
      >Ce champs doit faire au moins 6 caractères et correspondre à la
        confirmation
      </mat-error
      >
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Confirmation du mot de passe</mat-label>
      <input
        matInput
        formControlName="fieldConfirmPassword"
        type="password"
      />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Date de naissance</mat-label>
      <input matInput formControlName="fieldBirthDate" [matDatepicker]="datepicker"/>
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="w-full">
      <input
        matInput
        formControlName="fieldPseudo"
        placeholder="Pseudo"
        type="text"
      />
    </mat-form-field>
    <mat-slide-toggle formControlName="fieldNewsletter" class="example-margin">
      Abonné à la Newsletter
    </mat-slide-toggle>
    <p class="text-center">
      <button
        class="bg-indigo-500"
        mat-raised-button
        (click)="save()"
        [disabled]="form.invalid"
      >
        Enregistrer
      </button>
    </p>
  </mat-card>
</form>
