<p>users-form works!</p>
<form [formGroup]="form" action="" class="mb-3">
  <mat-card>
    <!-- <mat-form-field class="w-full">
      <input
        matInput
        formControlName="id"
        placeholder="id"
        type="text"
        disabled
      />
    </mat-form-field>
    <mat-form-field class="w-full">
      <input
        matInput
        formControlName="firstName"
        placeholder="Jhon"
        type="text"
      />
    </mat-form-field>
    <mat-form-field class="w-full">
      <input
        matInput
        formControlName="lastname"
        placeholder="Doe"
        type="password"
      />
    </mat-form-field>
    <mat-form-field class="w-full">
      <input
        matInput
        formControlName="fieldPassword"
        placeholder="Mot de passe"
        type="password"
      />
    </mat-form-field>

    <mat-form-field class="w-full">
      <input
        matInput
        formControlName="email"
        placeholder="jhon.doe@exemple.com"
        type="email"
      />
    </mat-form-field> -->
    <p>works</p>
  </mat-card>
</form>
