<p>users-form works!</p>
<div *ngIf="user">
  {{ user.id }}
  {{ user.email }}
</div>
<form [formGroup]="form" action="" class="mb-3">
  <mat-card>
    <mat-form-field class="w-full">
      <input
        matInput
        formControlName="fieldFirstName"
        placeholder="first name"
        type="text"
      />
    </mat-form-field>
    <mat-form-field class="w-full">
      <input
        matInput
        formControlName="fieldLastName"
        placeholder="last name"
        type="text"
      />
    </mat-form-field>
    <mat-form-field class="w-full">
      <input
        matInput
        formControlName="fieldPassword"
        placeholder="Mot de passe"
        type="password"
      />
    </mat-form-field>
    <mat-form-field class="w-full">
      <input
        matInput
        formControlName="fieldEmail"
        placeholder="email"
        type="email"
      />
    </mat-form-field>
    <p class="text-center">
      <button mat-button class="bg-indigo-500">enregister</button>
    </p>
  </mat-card>
</form>
