<div class="mt-10 sm:mt-0">
  <div class="mt-5 md:mt-0 md:col-span-2">
    <form [formGroup]="form">
      <div class="shadow overflow-hidden sm:rounded-md">
        <div class="px-4 py-5 bg-pink-900 sm:p-6">
          <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
              <mat-form-field class="w-full" appearance="outline">
                <mat-label class="text-gray-200">Prenom</mat-label>
                <input matInput type="text" formControlName="FIRST_NAME" />
              </mat-form-field>
            </div>

            <div class="col-span-6 sm:col-span-3">
              <mat-form-field class="w-full" appearance="outline">
                <mat-label class="text-gray-200">Nom</mat-label>
                <input matInput type="text" formControlName="LAST_NAME" />
              </mat-form-field>
            </div>

            <div class="col-span-6 sm:col-span-3">
              <mat-form-field class="w-full" appearance="outline">
                <mat-label class="text-gray-200">Pseudo</mat-label>
                <input matInput type="text" formControlName="PSEUDO" />
              </mat-form-field>
            </div>
            <div class="col-span-6">
              <mat-form-field class="w-full" appearance="outline">
                <mat-label class="text-gray-200">Email</mat-label>
                <input matInput type="text" formControlName="EMAIL" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="px-4 py-3 bg-red-600 text-right sm:px-6">
          <button
            type="submit"
            class="
              inline-flex
              justify-center
              py-2
              px-4
              border border-transparent
              shadow-sm
              text-sm
              font-medium
              rounded-md
              text-white
              bg-purple-600
              hover:bg-purple-700
              focus:outline-none
              focus:ring-2
              focus:ring-offset-2
              focus:ring-purple-500
            "
            (click)="onSubmit()"
          >
            Enregistrer
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
