<div
  class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200"
>
  <div class="p-6">
    <h2 class="text-lg leading-6 font-medium text-gray-900">
      {{ card.title }}
    </h2>
    <p class="mt-4 text-sm text-gray-500">
      {{ card.exergue }}
    </p>
    <p class="mt-8">
      <span class="text-4xl font-extrabold text-gray-900"
        >{{ card.price }}€</span
      >
      <span class="text-base font-medium text-gray-500">/mo</span>
    </p>
    <a
      href="#"
      class="
        mt-8
        block
        w-full
        bg-gray-800
        border border-gray-800
        rounded-md
        py-2
        text-sm
        font-semibold
        text-white text-center
        hover:bg-gray-900
      "
      >{{ card.buttonLabel }}</a
    >
  </div>
  <div class="pt-6 pb-8 px-6">
    <h3 class="text-xs font-medium text-gray-900 tracking-wide uppercase">
      Qu'est ce qui est inclus ?
    </h3>
    <ul class="mt-6 space-y-4">
      <li *ngFor="let element of card.includes" class="flex space-x-3">
        <!-- Heroicon name: solid/check -->
        <svg
          class="flex-shrink-0 h-5 w-5 text-green-500"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
            clip-rule="evenodd"
          />
        </svg>
        <span class="text-sm text-gray-500">{{ element }}</span>
      </li>
    </ul>
  </div>
</div>
