<div class="grid grid-cols-2 gap-4">

  <div class="chart-wrapper">
    <canvas baseChart
            [datasets]="lineChartBatteryData"
            [labels]="lineChartBatteryLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
    </canvas>
  </div>
  <div class="chart-wrapper">
    <canvas baseChart
            [datasets]="lineChartBikeData"
            [labels]="lineChartBikeLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
    </canvas>
  </div>
</div>
