<div class="my-4">
  <button
    [routerLink]="['/bikes']"
    mat-button
    class="bg-red-600 text-black min-w-min px-2"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="form" action="" class="mb-3">
  <mat-card>
    <mat-form-field class="w-full">
      <mat-label>Matricule</mat-label>
      <input matInput formControlName="fieldMatricule" type=" text" />
      <mat-error>Ce champs et requis</mat-error>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Borne</mat-label>
      <input
        matInput
        formControlName="fieldStation"
        [matAutocomplete]="autoStation"
        type=" text"
      />
      <mat-autocomplete
        #autoStation="matAutocomplete"
        [displayWith]="displayAutocompleteStation"
      >
        <mat-option
          *ngFor="let option of filteredOptionsStation | async"
          [value]="option"
        >
          {{ option.streetName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Modèle</mat-label>
      <input
        type=" text"
        matInput
        formControlName="fieldModel"
        [matAutocomplete]="autoModel"
      />
      <mat-autocomplete
        #autoModel="matAutocomplete"
        [displayWith]="displayAutocompleteModel"
      >
        <mat-option
          *ngFor="let option of filteredOptionsModel | async"
          [value]="option"
        >
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Status</mat-label>
      <mat-select formControlName="fieldStatus">
        <mat-option value="OFF">OFF</mat-option>
        <mat-option value="MAINTAINING">MAINTAINING</mat-option>
        <mat-option value="IN_RIDE">IN_RIDE</mat-option>
        <mat-option value="RECHARGING">RECHARGING</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-full" appearance="outline">
      <mat-slide-toggle
        formControlName="fieldRecharging"
        class="example-margin"
      >
        En charge
      </mat-slide-toggle>
      <textarea matInput hidden></textarea>
    </mat-form-field>
    <p class="text-center">
      <button mat-button (click)="save()" class="bg-indigo-500">
        enregister
      </button>
    </p>
  </mat-card>
</form>
