<div class="my-4">
  <button
    [routerLink]="['/bikes']"
    mat-button
    class="bg-red-600 text-black min-w-min px-2"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="form" action="" class="mb-3">
  <mat-card>
    <mat-form-field class="w-full">
      <input
        matInput
        formControlName="fieldMatricule"
        placeholder="Matricule"
        type=" text"
      />
      <mat-error>Ce champs et requis</mat-error>
    </mat-form-field>
    <mat-form-field class="w-full">
      <input
        matInput
        formControlName="fieldStation"
        placeholder="Borne"
        type=" text"
      />
    </mat-form-field>
    <mat-form-field class="w-full">
      <input
        matInput
        formControlName="fieldBattery"
        placeholder="Batterie percent"
        type=" text"
      />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-slide-toggle
        formControlName="fieldRecharging"
        class="example-margin"
      >
        En charge
      </mat-slide-toggle>
      <!-- SWITCH RECHARGING -->
    </mat-form-field>
    <mat-form-field class="w-full">
      <input
        matInput
        formControlName="fieldModel"
        placeholder="Model"
        type=" text"
      />
    </mat-form-field>
    <mat-form-field class="w-full">
      <input
        matInput
        formControlName="fieldStatus"
        placeholder="Status"
        type=" text"
      />
    </mat-form-field>

    <p class="text-center">
      <button mat-button (click)="save()" class="bg-indigo-500">
        enregister
      </button>
    </p>
  </mat-card>
</form>
