<div class="flex justify-between flex-col sm:flex-row">
  <app-vertical-nav
    (changeCurrentPage)="changeCurrentPage($event)"
    [currentPage]="currentPage"
  ></app-vertical-nav>
  <main [ngSwitch]="currentPage" class="container md:mr-5">
    <p *ngSwitchCase="'dashboard'">ICI LA USER VIEW</p>
    <app-edit-profile
      [user]="user | async"
      (editUser)="editUser($event)"
      (changePassword)="changePassword($event)"
      *ngSwitchCase="'edit'"
    ></app-edit-profile>
    <app-subscription *ngSwitchCase="'subscription'"></app-subscription>
  </main>
</div>
