<section class="w-screen" id="presentation">
  <!-- Header -->
  <app-header-caption
    [title]="'Vécolo'"
    [exergue]="'Roulez en toute liberté !'"
  ></app-header-caption>
  <div class="h-full bg-gray-50">
    <div
      class="
        max-w-md
        mx-auto
        pl-4
        pr-8
        sm:max-w-lg sm:px-6
        lg:max-w-7xl lg:px-8
      "
    >
      <div class="lg:grid lg:grid-cols-2 lg:gap-8 pb-8">
        <ng-lottie class="lg:order-2" [options]="lottieIdeaOptions"></ng-lottie>
        <div>
          <h2
            class="
              text-2xl
              font-extrabold
              text-gray-900
              tracking-tight
              sm:text-3xl
              mt-4
              lg:mt-0
            "
          >
            Vécolo : Une solution éco responsable
          </h2>
          <p class="text-lg text-gray-500">
            Créé en 2021, Vécolo est l'un des premiers services de vélos partagés et exclusivement à assistance
            électrique dans le monde.<br>
            C'est également le premier à proposer uniquement des stations de recharge complètement autonome à énergie
            solaire!
          </p>
          <p class="text-lg text-gray-500">
            L'objectif du service Vécolo et de faciliter le développement des nouvelles mobilités à énergie verte dans
            la métropole du Grand Paris.
          </p>
          <div class="text-lg text-gray-500">
            Vécolo en quelques chiffres :
            <div class="ml-10">
              <li><strong>100 stations</strong> à Paris et en Ile-de-France</li>
              <li><strong>Plus de 1 700 vélos,</strong> tous à assistance électrique</li>
              <li><strong>Au moins 20 000 trajets</strong> effectués chaque mois</li>
            </div>

          </div>
        </div>
      </div>

      <div class="lg:grid lg:grid-cols-2 lg:gap-8 pb-8">
        <img src="assets/images/map.svg" alt="map"/>
        <div>
          <h2
            class="
              text-2xl
              font-extrabold
              text-gray-900
              tracking-tight
              sm:text-3xl
              mt-4
              lg:mt-0
            "
          >
            Des stations partout dans Paris
          </h2>
          <p class="text-lg text-gray-500">
            Avec l’implantation de 100 stations à Paris et dans ses communes de la métropole, le service
            Vécolo est le plus important système de vélos à assistance électrique en libre-service dans le monde, selon
            ESGI magazine.
          </p>
          <p class="text-lg text-gray-500">
            Les emplacements des stations Vécolo sont étudiés et choisis par les communes afin d’offrir un maximum
            d’accessibilité aux utilisateurs et de s’intégrer au mieux dans l’espace public.
          </p>
          <p class="text-lg text-gray-500">
            Parce que le combat écologique est la responsabilité de tous, Vécolo est totalement transparent avec ses
            clients sur l'état des ses stations; que vous pouvez consulter à tout moment depuis notre <a routerLink="/map" target="_blank" class="text-blue-500">carte interactive</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
