<p class="text-right mb-4">
  <button mat-raised-button color="primary" routerLink="/users/add">
    <mat-icon>add</mat-icon>
    Ajouter un utilisateur
  </button>
</p>
<div class="flex flex-col my-2">
  <mat-form-field>
    <mat-label>Rechercher</mat-label>
    <input [formControl]="searchQuery" type="text" matInput (keydown.enter)="onSearch()"/>
  </mat-form-field>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <table mat-table [dataSource]="userListArray" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">
        {{element.id}}
      </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>Prénom</th>
      <td mat-cell *matCellDef="let element">
        {{element.firstName}}
      </td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let element">
        {{element.lastName}}
      </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">
        {{element.email}}
      </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let element">
        {{element.role}}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <div class="flex items-center gap-2">
          <button
            (click)="onViewUser(element)"
            mat-button
            class="bg-green-700 min-w-min px-2"
          >
            <mat-icon>visibility</mat-icon>
          </button>

          <button
            [routerLink]="['/users/edit/', element.id]"
            (click)="setEditUser.emit(element.id)"
            mat-button
            class="bg-blue-700 min-w-min px-2"
          >
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button
            *ngIf="isAdmin"
            (click)="onDelete(element.id)"
            mat-button
            class="bg-red-700 min-w-min px-2"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [length]="usersCount"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="getUsersF($event.pageIndex,$event.pageSize)"
    showFirstLastButtons
  ></mat-paginator>
</div>
