<mat-tab-group *ngIf="isRoot()">
  <mat-tab label="Vélo"><app-bikes-list></app-bikes-list></mat-tab>
  <mat-tab label="Modèle"
    ><app-bikes-model-list></app-bikes-model-list
  ></mat-tab>
  <mat-tab label="Fabriquant"
    ><app-bikes-manufacturer-list
      [manufacturers]="manufacturers | async"
      [manufacturersCount]="manufacturersCount | async"
      (getManufacturers)="getManufacturers()"
      [loading]="manufacturerLoading | async"
      (deleteManufacturer)="deleteManufacturer($event)"
      (setEditManufacturer)="setEditManufacturer($event)"
    ></app-bikes-manufacturer-list
  ></mat-tab>
</mat-tab-group>
<app-bikes-manufacturer-form
  *ngIf="isAddManufacturerForm() || isEditManufacturerForm()"
  [isEditMode]="isEditManufacturerForm()"
  (postManufacturer)="postManufacturer($event)"
  (putManufacturer)="putManufacturer($event)"
  [editManufacturer]="editManufacturer | async"
  (retrieveEditManufacturer)="getSingleManufacturer($event)"
></app-bikes-manufacturer-form>
<app-bikes-form *ngIf="isAddBikeForm() || isEditBikeForm()"></app-bikes-form>
<app-bikes-model-form
  *ngIf="isAddModelForm() || isEditModelForm()"
></app-bikes-model-form>
