<section class="w-screen" id="actu">
  <!-- Header -->
  <div class="py-24 bg-gray-50 sm:py-32">
    <div
      class="
        max-w-md
        mx-auto
        pl-4
        pr-8
        sm:max-w-lg sm:px-6
        lg:max-w-7xl lg:px-8
      "
    >
      <h1
        class="
          text-4xl
          leading-10
          font-extrabold
          tracking-tight
          text-gray-900 text-center
          sm:text-5xl sm:leading-none
          lg:text-6xl
        "
      >
        Actualités
      </h1>
      <p
        class="
          mt-6
          max-w-3xl
          mx-auto
          text-xl
          leading-normal
          text-gray-500 text-center
        "
      >
        Page des actualités de vécolo
      </p>
    </div>
  </div>
</section>
