<section class="w-screen" id="actu">
  <app-header-caption
    [title]="'Véco-Actu'"
    [exergue]="'Les dérnières actualités de Vécolo'"
  ></app-header-caption>
  <div
    class="
      relative
      bg-gray-50
      pt-16
      pb-20
      px-4
      sm:px-6
      lg:pt-24 lg:pb-28 lg:px-8
    "
  >
    <div class="absolute inset-0">
      <div class="bg-white h-1/3 sm:h-2/3"></div>
    </div>

    <div class="relative max-w-7xl mx-auto">
      <div class="max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
        <div *ngFor="let card of cards">
          <app-actu-card [card]="card"></app-actu-card>
        </div>
      </div>
    </div>
  </div>
</section>
