<nav class="menu">
  <div class="menu__inner">
    <div class="menu__toggle">Menu</div>
    <div
      class="menu__pill menu__pill--active"
      style="left: 10px; width: 153px"
    ></div>
    <!--  TODO position of pill at start on active and with of active ... -->
    <ul class="menu__items">
      <li class="menu__item menu__item--active">
        <a href="#">Présentation</a>
      </li>
      <li class="menu__item"><a href="#">Actualités</a></li>
      <li class="menu__item"><a href="#">Tarif</a></li>
      <li class="menu__item"><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>
