<mat-card>
  <!--  <mat-card-header>-->
  <mat-card-title class="flex items-center justify-center">
    <ng-lottie [options]="lottieUserOptions" height="60px"></ng-lottie>
    <span> Inscriptions utilisateurs </span>
  </mat-card-title>
  <!--  </mat-card-header>-->
  <mat-card-content class="flex flex-col gap-4">
    <mat-form-field>
      <mat-hint>Année et mois</mat-hint>
      <input matInput [matDatepicker]="dp" [formControl]="date" />
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker
        #dp
        startView="multi-year"
        (monthSelected)="chosenMonthHandler($event, dp)"
        panelClass="example-month-picker"
      >
      </mat-datepicker>
    </mat-form-field>

    <span>
      <strong>Total d'utilisateurs inscrits : </strong
      >{{ statistics?.total || 0 }}
    </span>
    <span>
      <strong>Utilisateurs inscris le mois sélectionné : </strong
      >{{ statistics?.monthCount || 0 }}
    </span>
  </mat-card-content>
</mat-card>
