<mat-card>
<!--  <mat-card-header>-->
    <mat-card-title class="flex items-center justify-center">
      <ng-lottie [options]="lottieBikeOptions" height="80px"></ng-lottie>
      <span>
        Trajets
      </span>
    </mat-card-title>
<!--  </mat-card-header>-->
  <mat-card-content>
      <mat-form-field>
        <mat-hint>Année et mois</mat-hint>
        <input matInput [matDatepicker]="dp" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp
                        startView="multi-year"
                        (monthSelected)="chosenMonthHandler($event,dp)"
                        panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
    <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [legend]="lineChartLegend"
            [chartType]="lineChartType">

    </canvas>

  </mat-card-content>
</mat-card>
