<p>users works!</p>
<app-user-list
  *ngIf="isListMode()"
  [userList]="users | async"
  [userListArray]="usersQuery.selectAll() | async"
  [usersIds]="usersIds | async"
  [loading]="usersLoading | async"
  (getUsers)="getUsers($event.limit, $event.offset)"
  [sessionQuery]="sessionQuery"
  (deleteUser)="deleteUser($event)"
  (setEditUser)="setEditUser($event)"
></app-user-list>
<app-users-form
  *ngIf="isEditMode()"
  [user]="editUser | async"
  (retrieveEditUser)="retrieveEditUser()"
></app-users-form>
