<app-user-list
  *ngIf="isListMode()"
  [userListArray]="users | async"
  [usersCount]="userCount | async"
  [loading]="usersLoading | async"
  [isAdmin]="sessionQuery.isAdmin$ | async"
  (getUsers)="getUsers($event.limit, $event.offset,$event.searchQuery)"
  (deleteUser)="deleteUser($event)"
  (setEditUser)="setEditUser($event)"
  (viewUser)="onViewUser($event)"
></app-user-list>
<app-users-form
  *ngIf="isEditMode() || isAddMode()"
  [user]="editUser | async"
  (retrieveEditUser)="retrieveEditUser()"
  (putUser)="putUser($event)"
  (postUser)="postUser($event)"
  [isAddMode]="isAddMode()"
></app-users-form>
<app-user-view *ngIf="isViewMode()"
               [user]="editUser | async"
               [userInvoices]="viewUserInvoices | async"
               [userRides]="viewUserRides | async"
               [userSubscriptions]="viewUserSubscriptions | async"
               [userInvoicesCount]="viewUserInvoicesCount | async"
               [userRidesCount]="viewUserRidesCount | async"
               [userSubscriptionsCount]="viewUserSubscriptionsCount | async"
               [isStaff]="true"
               (getUserInvoices)="getUserInvoices($event.userId,$event.limit,$event.offset)"
               (getUserRides)="getUserRides($event.userId,$event.limit,$event.offset)"
               (getUserSubscriptions)="getUserSubscriptions($event.userId,$event.limit,$event.offset)"
               (sendUserMail)="onSendUserEmail($event.userId,$event.subject,$event.content)"
></app-user-view>
<app-user-newsletter *ngIf="isNewsletterMode()"
                     (sendUserMail)="onSendNewsletterEmail($event.subject,$event.content)"
></app-user-newsletter>
