<mat-form-field class="w-full my-2">
  <mat-label>{{label || 'Borne'}}</mat-label>
  <mat-hint>Rechercher une borne par son adresse</mat-hint>
  <input matInput
         (input)="search()"
         [formControl]="inputSearchControl"
         [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectStation($event.option.value)">
    <mat-option *ngFor="let station of stationSearchResult | async" [value]="station">
      Station {{station.id}}: {{station?.streetNumber}} {{station?.streetName}} {{station?.city.toUpperCase()}})
      ({{station?.zipcode}})
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
