<p class="text-right my-4">
  <button mat-raised-button color="primary" routerLink="/bikes/add">
    <mat-icon>add</mat-icon>
    Add
  </button>
</p>
<div class="flex flex-col my-2">
  <table mat-table [dataSource]="bikes" class="mat-elevation-z8">
    <mat-text-column name="id"></mat-text-column>
    <mat-text-column name="matriculate"></mat-text-column>
    <mat-text-column name="battery percent"></mat-text-column>
    <mat-text-column name="recharging"></mat-text-column>
    <mat-text-column name="status"></mat-text-column>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [length]="bikesCount"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="
      getUsersWithPagination(
        $event.pageSize,
        $event.pageIndex * $event.pageSize
      )
    "
    showFirstLastButtons
  ></mat-paginator>
</div>
