<p class="text-right mb-4">
  <button
    mat-raised-button
    color="primary"
    routerLink="/bikes/manufacturer/add"
  >
    <mat-icon>add</mat-icon>
    Add
  </button>
</p>
<div class="flex flex-col my-2">
  <mat-spinner *ngIf="loading"></mat-spinner>
  <table mat-table [dataSource]="manufacturers" class="mat-elevation-z8">
    <mat-text-column name="id"></mat-text-column>
    <mat-text-column name="name"></mat-text-column>
    <mat-text-column name="phone"></mat-text-column>
    <mat-text-column name="address"></mat-text-column>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
