<div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
  <mat-card class="col-span-2 lg:col-span-1">
    <mat-card-header>
      <mat-card-title>Vélo {{bike?.id}}
      </mat-card-title>
      <mat-card-subtitle>Matricule : {{bike?.matriculate}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="grid grid-cols-1 lg:grid-cols-2 gap-3">
      <ng-lottie *ngIf="!bike?.model?.image" [options]="lottieBikeOptions"></ng-lottie>
      <img *ngIf="bike?.model?.image" class="h-auto max-w-full" [src]="getBikeModelImgSrc()" alt="">
      <div>
        <strong>Batterie :</strong>
        <section class="battery-section">
          <mat-progress-bar
            [ngClass]="getProgressColorClass()"
            [mode]="'determinate'"
            [value]="bike?.batteryPercent"
          ></mat-progress-bar>
          <div style="position: absolute; padding: 10px; color: white;">
            {{bike?.batteryPercent.toFixed(2)}}%
          </div>
        </section>
        <div class="flex flex-col gap-2">
          <span>
          <strong>En charge : </strong>{{bike?.recharging ? 'Oui' : 'Non'}}
          </span>
          <span>
          <strong>Statut : </strong>{{bike?.status}}
          </span>
          <span>
            <strong>Modèle : </strong> {{bike?.model?.name}} - {{bike?.model?.bikeManufacturer?.name | uppercase}}
          </span>
          <span>
            <strong>Poids : </strong> {{bike?.model?.weight}} KG
          </span>
          <span>
            <strong>Puissance Max : </strong> {{bike?.model?.maxPower}} W
          </span>
          <span>
            <strong>Vitesse Max : </strong> {{bike?.model?.maxSpeed}} KM/H
          </span>
          <span>
            <strong>Distance Max : </strong> {{bike?.model?.maxDistance}} KM
          </span>
          <span *ngIf="bike?.station">
            <mat-divider></mat-divider>
            <strong>Attaché à la station {{bike?.station?.id}} : </strong>
            <button mat-icon-button color="primary" [routerLink]="['/stations/view/'+bike?.station?.id]"><mat-icon>visibility</mat-icon></button>
          </span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="isStaff" class="col-span-2">
    <mat-card-header>
      <mat-card-title>
        Courses
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="rides" style="width:100%">
        <ng-container matColumnDef="start">
          <th mat-header-cell *matHeaderCellDef>Borne de départ</th>
          <td mat-cell *matCellDef="let element">
            {{element.startStation?.streetNumber}} {{element.startStation?.streetName}} - {{element.startStation?.zipcode}} ({{element.startStation.city | uppercase}})
          </td>
        </ng-container>
        <ng-container matColumnDef="end">
          <th mat-header-cell *matHeaderCellDef>Borne d'arrivée</th>
          <td mat-cell *matCellDef="let element">
            {{element.endStation?.streetNumber}} {{element.endStation?.streetName}} - {{element.endStation?.zipcode}} ({{element.endStation.city | uppercase}})
          </td>
        </ng-container>
        <ng-container matColumnDef="duration-length">
          <th mat-header-cell *matHeaderCellDef>Durée/Distance</th>
          <td mat-cell *matCellDef="let element">
            {{element.duration}}min / {{element.rideLength / 1000}}km
          </td>
        </ng-container>
        <ng-container matColumnDef="invoice">
          <th mat-header-cell *matHeaderCellDef>Facturation</th>
          <td mat-cell *matCellDef="let element">
            {{element.invoiceAmount}}€
          </td>
        </ng-container>
        <ng-container matColumnDef="matricule">
          <th mat-header-cell *matHeaderCellDef>Vélo</th>
          <td mat-cell *matCellDef="let element">
            {{element.bike?.matriculate}}
          </td>
        </ng-container>
        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef>Utilisateur</th>
          <td mat-cell *matCellDef="let element">
            {{element.user?.email}}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="rideDisplayedColumns"></tr>
        <tr mat-row
            (click)="onViewRideBike(row)"
            *matRowDef="let row; columns: rideDisplayedColumns"></tr>
      </table>
      <mat-paginator
        [length]="rideCount"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="onGetRides($event.pageSize, $event.pageIndex * $event.pageSize)"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-content>
  </mat-card>

</div>
