<header class="mb-2">
  <nav class="w-full bg-gray-900 p-4 flex items-center justify-between">
    <div class="flex items-center flex-grow">
      <button (click)="toggleMobileMenu()" class="my-auto block md:hidden">
        <mat-icon aria-hidden="false" aria-label="Menu button">menu</mat-icon>
      </button>
      <img src="/assets/logo-Client-bg.png" class="mr-2" alt="logo" />
      <ul class="nav-links-list">
        <li><button class="nav-link active">Dashboard</button></li>
        <li><button class="nav-link">Map</button></li>
        <li><button class="nav-link">Issues</button></li>
        <li><button class="nav-link">My Rides</button></li>
      </ul>
    </div>

    <div class="flex items-center mr-5">
      <button mat-raised-button color="primary" class="flex-none">
        <mat-icon aria-label="add" aria-hidden="true">add</mat-icon> New Ride
      </button>
      <mat-icon
        aria-label="notification"
        class="hidden md:inline-block mx-2"
        aria-hidden="true"
        >notifications</mat-icon
      >
      <button
        mat-button
        class="hidden md:inline-block min-w-0 p-0"
        [matMenuTriggerFor]="menu"
      >
        pfl
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Your Profile</button>
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Sign out</button>
      </mat-menu>
    </div>
  </nav>
  <div *ngIf="isMobileMenuShow">
    <app-mobile-menu></app-mobile-menu>
  </div>
</header>
