<header class="mb-2">
  <nav class="bg-gray-800 p-4 flex items-center justify-between">
    <div class="flex items-center flex-grow">
      <button (click)="toggleMobileMenu()" class="my-auto block md:hidden">
        <mat-icon aria-hidden="false" aria-label="Menu button">menu</mat-icon>
      </button>
      <img
        *ngIf="!sessionQuery.isStaff()"
        (click)="routerNavigation.gotoHome()"
        src="/assets/logo-Client-bg.png"
        class="mr-2"
        alt="logo"
      />
      <img
        *ngIf="sessionQuery.isStaff()"
        (click)="routerNavigation.gotoHome()"
        src="/assets/logo-Staff-bg.png"
        class="mr-2"
        alt="logo"
      />
      <ul class="nav-links-list">
        <li>
          <button
            [matMenuTriggerFor]="matHomeMenu"
            [ngClass]="isActive(routesPath.home)"
            class="nav-link"
          >
            Accueil
          </button>

          <mat-menu #matHomeMenu="matMenu">
            <button [routerLink]="[routesPath.home]" mat-menu-item>
              Présentation
            </button>
            <button [routerLink]="[routesPath.home]" mat-menu-item>
              Actualités
            </button>
            <button [routerLink]="[routesPath.home]" mat-menu-item>
              Tarif
            </button>
            <button [routerLink]="[routesPath.home]" mat-menu-item>
              Contact
            </button>
          </mat-menu>
        </li>
        <li>
          <button
            [routerLink]="[routesPath.map]"
            routerLinkActive="bg-blue-500"
            class="nav-link"
          >
            Carte <span class="hidden lg:inline">interactive</span>
          </button>
        </li>
        <li>
          <button
            *ngIf="sessionQuery.isLoggedIn()"
            [routerLink]="[routesPath.subscription]"
            routerLinkActive="bg-blue-500"
            class="nav-link"
          >
            <span class="hidden lg:inline">Mon </span>abonnement
          </button>
        </li>
        <li>
          <button
            *ngIf="sessionQuery.isLoggedIn()"
            [routerLink]="[routesPath.rides]"
            routerLinkActive="bg-blue-500"
            class="nav-link"
          >
            <span class="hidden lg:inline">Mes </span>courses
          </button>
        </li>
        <li>
          <button
            *ngIf="sessionQuery.isLoggedIn()"
            [routerLink]="[routesPath.issue]"
            routerLinkActive="bg-blue-500"
            class="nav-link"
          >
            Signalement
          </button>
        </li>
        <li>
          <button
            *ngIf="sessionQuery.isStaff()"
            [routerLink]="[routesPath.users]"
            routerLinkActive="bg-purple-800"
            class="nav-link bg-purple-600"
          >
            Utilisateurs
          </button>
        </li>
        <li>
          <button
            *ngIf="sessionQuery.isStaff()"
            [routerLink]="[routesPath.stations]"
            routerLinkActive="bg-purple-800"
            class="nav-link bg-purple-600"
          >
            Bornes
          </button>
        </li>
        <li>
          <button
            *ngIf="sessionQuery.isStaff()"
            [routerLink]="[routesPath.bikes]"
            routerLinkActive="bg-purple-800"
            class="nav-link bg-purple-600"
          >
            Vélos
          </button>
        </li>
        <li>
          <button
            *ngIf="sessionQuery.isStaff()"
            [routerLink]="[routesPath.subscriptions]"
            routerLinkActive="bg-purple-800"
            class="nav-link bg-purple-600"
          >
            Abonnements
          </button>
        </li>
        <li>
          <button
            *ngIf="sessionQuery.isStaff()"
            [routerLink]="[routesPath.finances]"
            routerLinkActive="bg-purple-800"
            class="nav-link bg-purple-600"
          >
            Finances
          </button>
        </li>
      </ul>
    </div>

    <div class="flex gap-3 items-center mr-5">
      <button
        *ngIf="sessionQuery.isLoggedIn()"
        [routerLink]="[routesPath.newRide]"
        mat-raised-button
        color="primary"
        class="flex-none"
      >
        <mat-icon aria-label="add" aria-hidden="true">add</mat-icon>
        New Ride
      </button>
      <button
        mat-button
        class="hidden md:inline-block min-w-0 p-0"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>account_circle</mat-icon>
        Mon compte
      </button>
      <mat-menu #menu="matMenu">
        <button
          *ngIf="sessionQuery.isLoggedIn()"
          (click)="routerNavigation.gotoProfile()"
          mat-menu-item
        >
          Mon profil
        </button>
        <button
          mat-menu-item
          *ngIf="sessionQuery.isLoggedIn()"
          (click)="sessionService.logout()"
        >
          Se déconnecter
        </button>
        <button
          mat-menu-item
          *ngIf="!sessionQuery.isLoggedIn()"
          (click)="routerNavigation.gotoSignup()"
        >
          S'inscrire
        </button>
        <button
          mat-menu-item
          *ngIf="!sessionQuery.isLoggedIn()"
          (click)="routerNavigation.gotoAuth()"
        >
          Se connecter
        </button>
      </mat-menu>
    </div>
  </nav>
  <div *ngIf="isMobileMenuShow">
    <app-mobile-menu></app-mobile-menu>
  </div>
</header>
