<mat-form-field class="w-full">
  <mat-label>Adresse</mat-label>
  <input matInput
         (input)="search()"
         [formControl]="inputSearchControl"
         [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectAdress($event.option.value)">
    <mat-option *ngFor="let option of addressSearchResults | async" [value]="option">
      {{option.address.house_number}} {{option.address.road}} - {{option.address.city || option.address.town}} ({{option.address.postcode}})
    </mat-option>
  </mat-autocomplete>
  <mat-hint>Rechercher une adresse</mat-hint>
</mat-form-field>
