@import "~@angular/material/theming";
@include mat-core();

$mat-dark-blue: (
  50: #e6f6eb,
  100: #c2eaff,
  200: #85d4ff,
  300: #47bfff,
  400: #1fb0ff,
  500: #009ff5,
  600: #007cbe,
  700: #00507a,
  800: #00283d,
  900: #000d14,
  A100: #cfd8dc,
  A200: #b0bec5,
  A400: #78909c,
  A700: #455a64,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$primary: mat-palette($mat-dark-blue);
$accent: mat-palette($mat-pink, 500, 900, A100);
$warn: mat-palette($mat-deep-orange);
$theme: mat-dark-theme($primary, $accent, $warn);

$custom-background-color: #021a31;
$background: map-get($theme, background);
$background: map_merge(
  $background,
  (
    background: $custom-background-color,
  )
);
$theme: map_merge(
  $theme,
  (
    background: $background,
  )
);

@include angular-material-theme($theme);
