<div class="mt-10">
  <app-stations-list *ngIf="isListMode()"
                     [stationList]="stationList | async"
                     [stationCount]="stationCount | async"
                     (viewStation)="onViewStation($event)"
                     (getSations)="this.getStations($event.limit,$event.offset)"
  ></app-stations-list>

  <app-stations-view *ngIf="isViewMode()"
                     [station]="viewStation | async"
                     [stationMonitorings]="stationMonitorings | async"
                     [isAdmin]="sessionQuery.isAdmin$ | async"
                     [isStaff]="sessionQuery.isStaff$ | async"
                     [token]="viewStationToken | async"
                     [bikeCount]="viewStationBikesCount | async"
                     [bikes]="viewStationBikes | async"
                     [rideCount]="rideCount | async"
                     [rides]="rideList | async"
                     (getToken)="getStationToken($event)"
                     (getMonitoring)="retrieveMonitoring($event.stationId,$event.start,$event.end)"
                     (getBikes)="getBikes($event.stationId,$event.limit,$event.offset)"
                     (getRides)="getRides($event.stationId,$event.limit,$event.offset)"
                     (getStation)="stationsService.getStation($event)"
                     (submitStation)="onUpdateStationSubmit($event)"
                     (deleteStation)="onDeleteStationSubmit($event)"
  ></app-stations-view>

  <app-station-create *ngIf="isCreateMode()" (submit)="onCreateStationSubmit($event)"
  ></app-station-create>
</div>
