<div>
  <h1 class="text-center">Vous devez vous conneter</h1>
  <form [formGroup]="form" class="flex justify-center content-center">
    <div class="flex flex-grow flex-col max-w-xl">
      <mat-form-field class="w-full">
        <input
          matInput
          formControlName="fieldEmail"
          placeholder="Email"
          type="email"
        />
        <mat-hint>Saisissez votre email</mat-hint>
        <mat-error> Email invalide </mat-error>
      </mat-form-field>
      <mat-form-field class="w-full">
        <input
          matInput
          formControlName="fieldPassword"
          placeholder="Mot de passe"
          type="password"
        />
        <mat-hint>Saisissez votre mot de passe</mat-hint>
      </mat-form-field>
      <div class="text-right">
        <button
          mat-raised-button
          color="primary"
          (click)="login()"
          [disabled]="form.invalid"
        >
          Se connecter
        </button>
      </div>
    </div>
  </form>
</div>
