<div class="my-4">
  <button
    [routerLink]="['/bikes']"
    mat-button
    class="bg-red-600 text-black min-w-min px-2"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="form" action="" class="mb-3">
  <mat-card>
    <mat-form-field class="w-full">
      <input
        matInput
        formControlName="fieldName"
        placeholder="Nom"
        type="text"
      />
      <mat-error>Ce champs et requis</mat-error>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Fabriquant</mat-label>
      <mat-select formControlName="fieldManufacturer">
        <mat-option *ngFor="let option of manufacturers"
                    [value]="option">
          {{ option.name }}
        </mat-option>
      </mat-select>

    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Capacité Batterie</mat-label>
      <input matInput min="0" formControlName="fieldBattery" type="number" step="1"/>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Poids</mat-label>
      <input matInput min="0" formControlName="fieldWeight" type="number" step="0.5"/>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Puissance Maximale</mat-label>
      <input matInput min="0" formControlName="fieldMaxPower" type="number" step="0.5"/>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Vitesse maximal</mat-label>
      <input matInput min="0" formControlName="fieldMaxSpeed" type="number" step="1"/>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Distance maximal</mat-label>
      <input matInput min="0" formControlName="fieldDistance" type="number" step="1"/>
    </mat-form-field>
    <mat-form-field class="w-full">
      <textarea
        matInput
        formControlName="fieldDescription"
        placeholder="Description"
      ></textarea>
    </mat-form-field>
    <div *ngIf="isEditMode" class="w-full mb-3">
      <input
        type="file"
        (change)="changeImage($event)"
        formControlName="fieldImage"
        placeholder="upload image"
        accept="png, jpeg"
        id="model-image"
      />
    </div>
    <img
      *ngIf="isEditMode && editModel?.image"
      [src]="displayImage()"
      class="w-full mb-2"
      alt="vélo"
    />
    <p class="text-center">
      <button mat-button [disabled]="form.invalid" (click)="save()" class="bg-indigo-500">
        Enregister
      </button>
    </p>
  </mat-card>
</form>
