<div class="my-4">
  <button
    [routerLink]="['/bikes']"
    mat-button
    class="bg-red-600 text-black min-w-min px-2"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="form" action="" class="mb-3">
  <mat-card>
    <mat-form-field class="w-full">
      <input
        matInput
        formControlName="fieldName"
        placeholder="Nom"
        type=" text"
      />
      <mat-error>Ce champs et requis</mat-error>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Assignee</mat-label>
      <input
        type="text"
        matInput
        formControlName="fieldManufacturer"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayAutocomplete"
      >
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Batterie capacity</mat-label>
      <input matInput min="0" formControlName="fieldBattery" type=" number" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Poids</mat-label>
      <input matInput min="0" formControlName="fieldWeight" type=" number" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Max Power</mat-label>
      <input matInput min="0" formControlName="fieldMaxPower" type=" number" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Vitesse maximal</mat-label>
      <input matInput min="0" formControlName="fieldMaxSpeed" type=" number" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Distance maximal</mat-label>
      <input matInput min="0" formControlName="fieldDistance" type=" number" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <textarea
        matInput
        formControlName="fieldDescription"
        placeholder="Description"
      ></textarea>
    </mat-form-field>
    <div *ngIf="isEditMode" class="w-full mb-3">
      <input
        type="file"
        (change)="changeImage($event)"
        formControlName="fieldImage"
        placeholder="upload image"
        accept="png, jpeg"
        id="model-image"
      />
    </div>

    <p class="text-center">
      <button mat-button (click)="save()" class="bg-indigo-500">
        enregister
      </button>
    </p>
  </mat-card>
</form>
