<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 my-4">
  <mat-card class="col-span-2 lg:col-span-1" *ngIf="!sendingEmailMode">
    <mat-card-header>
      <mat-card-title>{{user?.firstName}} {{user?.lastName | uppercase}} ({{user?.email}})</mat-card-title>
      <mat-card-subtitle>{{user?.pseudo}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="grid grid-cols-1 lg:grid-cols-2 gap-3">
      <ng-lottie [options]="lottieUserOptions"></ng-lottie>
      <div class="flex flex-col gap-4">
        <span>
          <strong>Actif : </strong>{{user?.isActive ? 'Oui' : 'Non'}}
        </span>
        <span>
          <strong>Role : </strong>{{user?.role}}
        </span>
        <span>
          <strong>Date de naissance : </strong>{{user?.birthDate | date: 'dd/MM/yyyy'}}
        </span>
        <span>
          <strong>Abonnement newsletter : </strong>{{user?.newsletter ? 'Oui' : 'Non'}}
        </span>
        <span>
          <strong>Date d'inscription : </strong>{{user?.createdAt | date: 'dd/MM/yyyy'}}
        </span>
        <span *ngIf="hasSubscriptions()">
          <strong>Forfait : </strong>{{user?.subscriptions[0]?.plan?.name | uppercase}}
          ({{user?.subscriptions[0]?.plan?.price}}€/mois)<br>
          Du {{user?.subscriptions[0]?.startDate | date: 'dd/MM/yyyy' }}
          au {{addMonth(user?.subscriptions[0]?.startDate, user?.subscriptions[0]?.monthDuration) | date: 'dd/MM/yyyy'}}
        </span>
        <span *ngIf="hasSubscriptions()">
          <strong>Renouvellement automatique ({{user?.subscriptions[0]?.monthDuration}}
            mois) : </strong>{{user?.subscriptions[0]?.autoRenew ? 'Oui' : 'Non'}}
        </span>
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="isStaff" class="flex justify-end space-x-2">
      <button
        mat-raised-button
        color="primary"
        (click)="onSendingEmailMode()"
      >
        <mat-icon>email</mat-icon>&nbsp;Email
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="col-span-2 lg:col-span-1" *ngIf="sendingEmailMode">
    <mat-card-header>
      <mat-card-title>{{user?.firstName}} {{user?.lastName | uppercase}} ({{user?.email}})</mat-card-title>
      <mat-card-subtitle>{{user?.pseudo}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="grid grid-cols-1 lg:grid-cols-2 gap-3">
      <ng-lottie [options]="lottieUserOptions"></ng-lottie>
      <form [formGroup]="emailForm">
        <h1>Envoyer un email</h1>
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Sujet</mat-label>
          <input matInput
                 formControlName="subject"
                 type="text">
          <mat-error>Ce champs est requis</mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Contenu</mat-label>
          <textarea matInput
                    formControlName="content"
                    type="text"></textarea>
          <mat-error>Ce champs est requis</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="flex justify-end space-x-2">
      <button
        mat-raised-button
        color="primary"
        (click)="onSendEmail()"
        [disabled]="emailForm.invalid"
      >
        <mat-icon>send</mat-icon>&nbsp;Envoyer
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="sendingEmailMode = false;"
      >
        Annuler
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="col-span-2 lg:col-span-1">
    <mat-card-header>
      <mat-card-title>
        Factures
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="userInvoices" style="width:100%">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>N°</th>
          <td mat-cell *matCellDef="let element">
            {{element.id}}
          </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">
            {{element.billingDate | date:'dd/MM/yyyy'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Montant</th>
          <td mat-cell *matCellDef="let element">
            {{element.amount}} €
          </td>
        </ng-container>
        <ng-container matColumnDef="subscription">
          <th mat-header-cell *matHeaderCellDef>Abonnement</th>
          <td mat-cell *matCellDef="let element">
            {{element.subscription?.plan?.name}} ({{element.subscription?.startDate | date: 'dd/MM/yyyy'}})
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="invoicesDisplayedColumn"></tr>
        <tr mat-row
            *matRowDef="let row; columns: invoicesDisplayedColumn"></tr>
      </table>
      <mat-paginator
        [length]="userInvoicesCount"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="onGetUserInvoices($event.pageSize, $event.pageIndex * $event.pageSize)"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-content>
  </mat-card>
  <mat-card class="col-span-2 lg:col-span-1">
    <mat-card-header>
      <mat-card-title>
        Abonnements
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="userSubscriptions" style="width:100%">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>N°</th>
          <td mat-cell *matCellDef="let element">
            {{element.id}}
          </td>
        </ng-container>
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef>Début</th>
          <td mat-cell *matCellDef="let element">
            {{element.startDate | date: 'dd/MM/yyyy' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef>Durée</th>
          <td mat-cell *matCellDef="let element">
            {{element.monthDuration}} mois
          </td>
        </ng-container>
        <ng-container matColumnDef="autoRenew">
          <th mat-header-cell *matHeaderCellDef>Renouvellement automatique</th>
          <td mat-cell *matCellDef="let element">
            {{element.autoRenew ? 'Oui' : 'Non'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="plan">
          <th mat-header-cell *matHeaderCellDef>Forfait</th>
          <td mat-cell *matCellDef="let element">
            {{element.plan.name}} ({{element.plan.price}} €/mois)
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="subscriptionsDisplayedColumn"></tr>
        <tr mat-row
            *matRowDef="let row; columns: subscriptionsDisplayedColumn"></tr>
      </table>
      <mat-paginator
        [length]="userSubscriptionsCount"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="onGetUserSubscriptions($event.pageSize, $event.pageIndex * $event.pageSize)"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-content>
  </mat-card>
  <mat-card class="col-span-2 lg:col-span-1">
    <mat-card-header>
      <mat-card-title>
        Trajets effectués
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [ngClass]=" isStaff ? 'rides':''" [dataSource]="userRides" style="width:100%">
        <ng-container matColumnDef="start">
          <th mat-header-cell *matHeaderCellDef>Borne de départ</th>
          <td mat-cell *matCellDef="let element">
            {{element.startStation?.streetName}}
            <button *ngIf="!isStaff" mat-icon-button [routerLink]="['/stations/view/'+element.startStation.id]">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="end">
          <th mat-header-cell *matHeaderCellDef>Borne d'arrivée</th>
          <td mat-cell *matCellDef="let element">
            {{element.endStation?.streetName}}
            <button *ngIf="!isStaff" mat-icon-button [routerLink]="['/stations/view/'+element.endStation.id]">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="duration-length">
          <th mat-header-cell *matHeaderCellDef>Durée/Distance</th>
          <td mat-cell *matCellDef="let element">
            {{element.duration}}min / {{element.rideLength / 1000}}km
          </td>
        </ng-container>
        <ng-container matColumnDef="invoice">
          <th mat-header-cell *matHeaderCellDef>Facturation</th>
          <td mat-cell *matCellDef="let element">
            {{element.invoiceAmount}}€
          </td>
        </ng-container>
        <ng-container matColumnDef="matricule">
          <th mat-header-cell *matHeaderCellDef>Vélo</th>
          <td mat-cell *matCellDef="let element">
            {{element.bike?.matriculate}}
            <button *ngIf="!isStaff" mat-icon-button [routerLink]="['/bikes/view/'+element.bike?.id]">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="ridesDisplayedColumns"></tr>
        <tr mat-row
            (click)="onViewRide(row)"
            *matRowDef="let row; columns: ridesDisplayedColumns"></tr>
      </table>
      <mat-paginator
        [length]="userRidesCount"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="onGetUserRides($event.pageSize, $event.pageIndex * $event.pageSize)"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-content>
  </mat-card>


</div>
